mkdocs-awesome-pages-plugin==2.10.1
mkdocs-bootswatch
mkdocs-git-revision-date-localized-plugin
mkdocs-glightbox
mkdocs-include-markdown-plugin
mkdocs-macros-plugin
mkdocs-markdownextradata-plugin
mkdocs-material==9.6.14
mkdocs-minify-plugin
mkdocs-redirects
pymdown-extensions==10.15